---
const { title } = Astro.props;
const images = ['Ferrari_308_GTSi:IMG_6156.jpg', 'Frosty_Porsche_Logo:IMG_5762.jpg']; //Must be JPG for exif reasons
---

<div class="hidden md:block h-dvh w-dvw pl-16 pr-8 py-16 overflow-hidden">
    <div class="w-full h-full flex flex-row gap-16">
        <div class="h-full flex flex-col mr-16">
            <h1 class="line-through font-extrabold italic tracking-[-0.15em] text-5xl">Y.O.U.N.G.</h1>
            <div class="grow"/>
            <h2 class="font-medium text-xl" id="name"></h2>
            <h2 class="font-thin text-xl" id="camera"></h2>
            <h2 class="font-thin text-xl" id="date"></h2>
            <div class="h-6"/>
            <h3 class="font-thin text-xl" id="lense"></h2>
            <h3 class="font-thin text-xl" id="aperture"></h2>
            <h3 class="font-thin text-xl" id="shutter"></h2>
            <h3 class="font-thin text-xl" id="iso"></h2>
            <!-- <div class="h-6"/>
            <h1 class="font-medium text-xl">@young_takes_photos</h2> -->
        </div>
        <div class="grow overflow-y-auto overflow-x-hidden snap-y snap-mandatory overflow-y-auto [&::-webkit-scrollbar]:hidden [scrollbar-width:none] [-ms-overflow-style:none]" id="scroll-container">
            {images.map((item) => (
                <section class="h-full w-full snap-start overflow-show pointer-events-none">
                    <img class="h-full w-full object-contain image-observer" src={"/images/"+item} alt={item} />
                </section>
                <div class="h-16"/>
            ))}
        </div>
        <div></div>
    </div>
</div>

<script type="module">
  import * as exifr from "https://unpkg.com/exifr/dist/lite.esm.js";

  const targets = document.querySelectorAll('.image-observer');
  const scrollContainer = document.getElementById("scroll-container");

  const nameText = document.getElementById('name');
  const cameraText = document.getElementById('camera');
  const dateText = document.getElementById('date');
  const lensText = document.getElementById('lense');
  const apertureText = document.getElementById('aperture');
  const shutterText = document.getElementById('shutter');
  const isoText = document.getElementById('iso');

  async function loadExif(img) {
    const buf = await fetch(img.src).then(r => r.arrayBuffer());
    const meta = await exifr.parse(buf);

    if (!meta) return;

    delete meta.GPSLatitude;
    delete meta.GPSLongitude;

    if (nameText) {
        nameText.textContent = img.src.split("/")[img.src.split("/").length-1].split(":")[0].replaceAll("_", " ");
    }
    if (cameraText) cameraText.textContent = meta.Model ?? "—";
    if (dateText) dateText.textContent =
      meta.DateTimeOriginal instanceof Date
        ? meta.DateTimeOriginal.toLocaleDateString()
        : "—";
    if (lensText) lensText.textContent = (meta.FocalLength+"mm") ?? "—";
    if (apertureText) apertureText.textContent =
      meta.FNumber ? `f-${meta.FNumber}` : "—";
    if (shutterText) shutterText.textContent =
      meta.ExposureTime ? `1/${Math.round(1 / meta.ExposureTime)}s` : "—";
    if (isoText) isoText.textContent = ("ISO " +meta.ISO) ?? "—";
  }

  const observer = new IntersectionObserver(
    (entries) => {
      for (const entry of entries) {
        if (entry.isIntersecting) {
            console.log("intersect change")
            loadExif(entry.target);
        }
      }
    },
    { 
        threshold: 0.6,
        root: scrollContainer,
    }
  );

  targets.forEach(el => observer.observe(el));

</script>
