---
const { title } = Astro.props;
const randomize = true;
const images = ['IMG_6156', 'IMG_6512', 'IMG_6605', 'IMG_6299', 'IMG_5537', 'IMG_5762', 'IMG_6344']; //Must be JPG for exif reasons
const renderReadyImages = 
  randomize
  ? images.slice().sort(() => Math.random() - 0.5)
  : images;
---

<div class="hidden md:block h-dvh w-dvw pl-16 pr-8 py-16 overflow-hidden">
    <div class="w-full h-full flex flex-row gap-16">
        <div class="h-full flex flex-col mr-16">
            <h1 class="line-through font-extrabold italic tracking-[-0.15em] text-6xl">Y.O.U.N.G.</h1>
            <div class="grow"/>
            <h2 class="font-medium text-xl" id="name"></h2>
            <h2 class="font-thin text-xl" id="camera"></h2>
            <h2 class="font-thin text-xl" id="date"></h2>
            <div class="h-6"/>
            <h3 class="font-thin text-xl" id="lense"></h2>
            <h3 class="font-thin text-xl" id="aperture"></h2>
            <h3 class="font-thin text-xl" id="shutter"></h2>
            <h3 class="font-thin text-xl" id="iso"></h2>
            <!-- <div class="h-6"/>
            <h1 class="font-medium text-xl">@young_takes_photos</h2> -->
        </div>
        <div class="grow overflow-y-auto overflow-x-hidden snap-y snap-mandatory overflow-y-auto [&::-webkit-scrollbar]:hidden [scrollbar-width:none] [-ms-overflow-style:none]" id="scroll-container">
            {renderReadyImages.map((item) => (
                <section class="h-full w-full snap-start overflow-show pointer-events-none select-none">
                    <img class="h-full w-full object-contain image-observer" src={"/images/"+item+".jpg"} alt={item} />
                </section>
                <div class="h-16"/>
            ))}
        </div>
        <div></div>
    </div>
</div>

<script type="module">
  const imageNames = {
    "6156" : "Ferrari 308 GTSi",
    "5762" : "Frosted Porsche Logo",
    "6512" : "Nighttime in Motion"
  }

  function formatExposure(t) {
    if (t >= 1) return `${t}s`;

    const denom = Math.round(1 / t);
    return `1/${denom}s`;
  }

  import * as exifr from "/exifr.esm.js";

  const targets = document.querySelectorAll('.image-observer');
  const scrollContainer = document.getElementById("scroll-container");

  const nameText = document.getElementById('name');
  const cameraText = document.getElementById('camera');
  const dateText = document.getElementById('date');
  const lensText = document.getElementById('lense');
  const apertureText = document.getElementById('aperture');
  const shutterText = document.getElementById('shutter');
  const isoText = document.getElementById('iso');

  async function loadExif(img) {
    const buf = await fetch(img.src).then(r => r.arrayBuffer());
    const meta = await exifr.parse(buf);

    if (!meta) return;

    delete meta.GPSLatitude;
    delete meta.GPSLongitude;

    if (nameText) {
        nameText.textContent = imageNames[img.src.split("/")[img.src.split("/").length-1].split("_")[1].split(".")[0]] ?? "Innominate work";
    }
    if (cameraText) cameraText.textContent = meta.Model ?? "—";
    if (dateText) dateText.textContent =
      meta.DateTimeOriginal instanceof Date
        ? meta.DateTimeOriginal.toLocaleDateString()
        : "—";
    if (lensText) lensText.textContent = (meta.FocalLength+"mm") ?? "—";
    if (apertureText) apertureText.textContent = meta.FNumber ? `f-${meta.FNumber}` : "—";
    if (shutterText)
      shutterText.textContent = meta.ExposureTime
        ? formatExposure(meta.ExposureTime)
        : "—";
    if (isoText) isoText.textContent = ("ISO " +meta.ISO) ?? "—";
  }
  
  const observer = new IntersectionObserver(
    (entries) => {
      for (const entry of entries) {
        if (entry.isIntersecting) {
            console.log("intersect change")
            loadExif(entry.target);
        }
      }
    },
    { 
        threshold: 0.6,
        root: scrollContainer,
    }
  );

  targets.forEach(el => observer.observe(el));

</script>
